
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    padding-right: 15px;
	padding-left: 15px;
}

h1{
	font-size: 40px;	
}

h3{
	font-size: 25px;
	}

div.TankModel{
	font-size: 20px;
	font-style: oblique;
	
}
div.register{
	text-align: center;
	font-style: italic;
	font-size: 20px;
}

footer{
	text-align: center;
	}

header{
    text-align: center;
	font-size: 25px;
}

button{
	padding:10px;border:10px;
} 

p{
	padding-bottom: 10px;
}

h1,h3{
	padding: 20px 20px;
}

.id input{
    border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 5px 10px 5px;
	margin: 10px 0px 20px 5px;
	
}

.id{
	text-align: center;
	font-style: italic;
	font-size: 20px;
}

.id div{
	padding: 20px 0;
}

.model {

	text-align: center;
	font-style: italic;
	font-size: 20px;
}
 div.model{
	
	border: 1px solid #000;
	border-radius: 1px;
	padding: 20px 0 ;
	margin: 0 auto;
	width: 50%;
	margin-top: 30px;
	
 }

 .checkbox_wrapper{
	display:grid;
	grid-template-columns: 60px 60px;
	gap: 30px;
	margin: 0 auto;
	text-align: center;
	width: max-content;
	margin-top: 20px;
 }

 